<!DOCTYPE html>
<html lang="en">
    <head> </head>

    <body>
        <p class="blue-text">Estimado <%= name %>,</p>
        <p>
            Se ha creado un sitio web, para <%= website %>
        </p>
        <br />

        <a
            href="<%= process.env.APP_URL %>/websites/<%= url %>"
            class="btn btn-primary btn-darkblue"
            ><strong>Visitar sitio web</strong> </a
        ><br />

        <p>
            <strong
                >Si tienes problemas con tu sitio web, comúnicate con <a href="http://wa.me//573058016343">soporte</a>
            </strong>
        </p>
        <p>
            No respondas, esta dirección de correo electrónico no es monitoreada
        </p>
        <br /><br />
    </body>
</html>
